body{
    background-image: linear-gradient(to right, #120E43 ,#207398 );
}

h1{
    font-size: 70px;
    color: aliceblue !important;
}

.grid{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.box{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 35px;
    color: #ffffff;
}